html{
  overflow:hidden !important;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.8rem;
  text-align: center;
}

#PluginWrapper{
  display:flex;
  flex-direction: column;
  height:100%;
}

#PluginContainer{
  flex:1;
}

h1.title {
  font-size: 20px !important;
  font-family: Arial !important;
  color: grey !important;
  font-weight:bold !important;
  margin-bottom: 0 !important;
  padding: 0px 10px 10px 10px !important;
}

h3.title {
  font-size: 13px !important;
  font-family: Arial !important;
  color: grey !important;
  font-weight:bold !important;
  margin-bottom: 0 !important;
  padding: 0px 10px 10px 10px !important;
}


h4 {
  font-size: 13px !important;
  color: grey !important;
}

#Login{
  width:100%;
}

#MainControls, #AppControls{
  text-align: left;
  border-top: solid 1px lightsteelblue;
}

#LoginControls{
  padding:10px;
}

#LoginControls button{
  background-color: #4676a9;
  color: white;
  width:100%;
}

#LoginControls button i{
  margin-left: 10px;
}