html{
  overflow:hidden !important;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.8rem;
  text-align: center;
}

#PluginWrapper{
  display:flex;
  flex-direction: column;
  height:100%;
}

#PluginContainer{
  flex:1;
}

h1.title {
  font-size: 20px !important;
  font-family: Arial !important;
  color: grey !important;
  font-weight:bold !important;
  margin-bottom: 0 !important;
  padding: 0px 10px 10px 10px !important;
}

h3.title {
  font-size: 13px !important;
  font-family: Arial !important;
  color: rgb(80, 80, 80) !important;
  font-weight:bold !important;
  margin-bottom: 0 !important;
  padding: 0px 10px 10px 10px !important;
  width: 80%;
}

#login-lbl {
  margin-top: 10px;
}

#Login{
  width:100%;
}

#MainControls, #AppControls{
  text-align: left;
}

#AppControls{
  border-top: solid 1px lightsteelblue;
}

#LoginControls{
  padding:10px;
}

#LoginControls select {
  width:100%;
  margin-bottom: 8px;
  text-align: center;
}

#LoginControls button{
  background-color: rgb(88, 144, 228);
  color: white;
  width:100%;
  font-weight: bold;
  height: 30px;
  margin-right: 10px;
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
}
  
#LoginControls button i{
  margin-left: 10px;
}

#header-title {
  display: flex;
  flex-direction: row;
}

#region-selector {
  display: flex;
  flex-direction: row;
}

#lblExplanation {
  padding: 20px 0px 0px 12px;
  color: rgb(80, 80, 80);
}

#lblRegion {
  padding: 15px 10px 0px 10px;
  color: rgb(80, 80, 80);
}

.region {
  margin-right: 10px;
  padding: 15px 0px 0px 0px;
  color: rgb(160, 160, 160);
  font-weight:bold !important;
  cursor: pointer;
}

.region:hover {
  /* border-bottom: 3px solid rgb(155, 155, 155); */
  color: dimgray;
} 

.chosen {
  /* border-bottom: 3px solid #4676a9 !important; */
  padding-bottom: 3px;
  color: #4676a9 !important;
}